h1{
font-size: 1000%;
font-style: inherit;
}
text-muted {
    font-weight: 300;
}

h2{
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
      border-radius: 25px;
}

card-text{
    size: "400px" height="300px;"
}
card {
    align-items: center;
}
img {
    display: block;
    margin: 0 auto; 
}